.right {
    text-align: right;
}

.navbar-nav>li>a.active {
  color:  #18bc9c;
}

.project {
  margin-right: 30px;
  margin-left: 30px;
}

.project h1 {
  margin: 0px;
}

.search {
  display: inline-block;
  width: 300px;
  padding-top: 6px;
  margin-right: 10px;
}

.mode-switch span.fa {
  font-size: 1.2em;
}

.epics td {
    max-width: 400px;
}

.epics td:first-child {
   max-width: 150px;
}

th.chart {
  width: 60%;
}

.summary {
  width: 80%;
  margin-left: 10%
}

.summary .table {
  width: 60%;
  margin-left: 20%;
  padding-top: 20px;
}

.modal {
  margin: 10px auto;
  width: 50%;
  background-color: #fff;
  padding: 0.5em 1em 1em 1em;
  display: block;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.flush--top {
  margin-top: 0;  
}

.pointer {
  cursor: pointer;
}

.backlog-row {
  display: flex;
  overflow: auto;
}

.backlog-item {
  overflow: hidden;
  margin: 15px;
  border: 2px solid;
  border-radius: 10px;
  width: 500px;
  min-width: 500px;
}

.backlog-item .header {
  background-color: #2c3e50;
  color: white;
  height: 40px;
  font-size: 1.3em;
  padding-left: 15px;
  padding-top: 5px;
  padding-right: 15px;
}

.backlog-item .header .title {
  display: inline-block; 
}

.backlog-item .header .menu {
  float: right;
}

.backlog-item .header .menu a {
  color: white;
}

.backlog-item .content .description{
  max-height: 50vh;
  overflow: auto;
}

.backlog-item .content .label {
  float: right;
  font-size: 110%;
  font-size: 1.1em;
  margin-right: 5px;
}

.backlog-item .content {
  padding: 10px;
}