.right {
    text-align: right;
}

.navbar-nav>li>a.active {
  color:  #18bc9c;
}

.project {
  margin-right: 30px;
  margin-left: 30px;
}

.project h1 {
  margin: 0px;
}

.mode-switch span.fa {
  font-size: 1.2em;
}

.epics td {
    max-width: 400px;
}

.epics td:first-child {
   max-width: 150px;
}

.modal {
  margin: 10px auto;
  width: 50%;
  background-color: #fff;
  padding: 0.5em 1em 1em 1em;
  display: block;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.flush--top {
  margin-top: 0;  
}

.pointer {
  cursor: pointer;
}