<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Probable Backlog</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/fontawesome/css/font-awesome.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap/dist/css/bootstrap.flatty.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>

{% handlebars "projects" %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            {{#link-to 'index' class='navbar-brand'}}Probable Backlog{{/link-to}}
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{#each model}}
                    <li>{{#link-to 'project' id}}{{name}}{{/link-to}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</nav>
<div class="project">
    {{outlet}}
</div>
{% endhandlebars %}

{% handlebars "project" %}
<div>
    <div class="row">
        <div class="col-md-6">
            <h1>{{project.name}}
                <small>({{project.id}})</small>
            </h1>
        </div>
        <div class="col-md-6 right">
            <div class="btn-group mode-switch">
                {{#link-to 'project.table' project.id classNames="btn btn-default"}}<span class="fa fa-table"></span>{{/link-to}}
                {{#link-to 'project.charts' project.id classNames="btn btn-default"}}<span class="fa fa-area-chart"></span>{{/link-to}}
                {{#link-to 'project.summary' project.id classNames="btn btn-default"}}<span class="fa fa-line-chart"></span>{{/link-to}}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        {{outlet}}
    </div>
</div>
{% endhandlebars %}

{% handlebars "project/table" %}
<div class="backlog-row">
    {{#each model.epics}}
        {{view App.BacklogItemView dataBinding="this"}}
    {{/each}}
</div>


<table class='epics table table-striped'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Probable delivery</th>
        <th>Description</th>
        <th>Progress</th>
        <th>Burned</th>
        <th>Initial</th>
        <th>Requestor</th>
        <th>Links</th>
    </tr>
    </thead>
    <tbody>
    {{#each model.epics}}
    <tr>
        <td>{{summary}}</td>
        <td>{{status}}</td>
        <td>{{format-date dueDate}}</td>
        <td>{{format-markdown description}}</td>
        <td><span class="badge">{{format-float progress.percent}}%</span></td>
        <td>{{format-float progress.current}}/{{format-float progress.total}}</td>
        <td>{{format-float progress.estimate}}</td>
        <td>{{format-displayname reporter.displayName}}</td>
        <td>
            <a class="pointer" {{action 'openModal' 'modal' subtasks}} title="Details"><span class="glyphicon glyphicon-th-list"></span></a>&nbsp;
            <a href="https://jira3.inside.nsn.com/browse/{{unbound key}}" target="_blank" title="View in Jira"><span class="glyphicon glyphicon-share-alt"></span></a>
            <!--<a {{bind-attr href=url}}><span class="glyphicon glyphicon-share"></span></a>-->
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>
{{outlet modal}}
{% endhandlebars %}

{% verbatim %}
  <script type="text/x-handlebars" data-template-name="backlog-item">
    <div class="header">
        <div class="title">{{summary}}</div>
        <div {{bindAttr class=":status :label view.labelClass"}}>{{status}}</div>
    </div>
    <div class="content">
        {{format-markdown description}}
    </div>
  </script>
{% endverbatim %}

{% handlebars "project/charts" %}
<table class='epics table table-striped'>
    <thead>
    <tr>
        <th>Name</th>
        <th class="chart"></th>
        <th>Progress</th>
        <th>Burned</th>
        <th>Links</th>
    </tr>
    </thead>
    <tbody>
    {{#each model.epics}}
    <tr>
        <td>{{summary}}</td>
        <td>{{view App.ProgressBarGraph dataBinding="this"}}</td>
        <td><span class="badge">{{format-float progress.percent}}%</span></td>
        <td>{{format-float progress.current}}/{{format-float progress.total}}</td>
        <td>
            <a class="pointer" {{action 'openModal' 'modal' subtasks}} title="Details"><span class="glyphicon glyphicon-th-list"></span></a>&nbsp;
            <a href="https://jira3.inside.nsn.com/browse/{{unbound key}}" target="_blank" title="View in Jira"><span class="glyphicon glyphicon-share-alt"></span></a>
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>
{{outlet modal}}
{% endhandlebars %}

{% handlebars "project/summary" %}
<div class="summary">
    {{view App.SummaryGraph dataBinding="model"}}
</div>
{% endhandlebars %}

{% verbatim %}
  <script type="text/x-handlebars" data-template-name="modal">
    {{#modal-dialog action="close"}}
      <div ><a class="pull-right pointer" {{action "close"}}><i class="fa fa-times"></i></a></div>
      <h3>Stories</h3>
      <hr>
      <table class='epics table table-striped'>
        <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Progress</th>
            <th>Burned</th>
            <th>Initial</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        {{#each model}}
        <tr>
            <td>{{summary}}</td>
            <td>{{status}}</td>
            <td><span class="badge">{{format-float progress.percent}}%</span></td>
            <td>{{format-float progress.current}}/{{format-float progress.total}}</td>
            <td>{{format-float progress.estimate}}</td>
            <td>
                <a href="https://jira3.inside.nsn.com/browse/{{unbound key}}" target="_blank" title="View in Jira">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    {{/modal-dialog}}
  </script>
{% endverbatim %}

  
{% handlebars "components/modal-dialog" %}
    <div class="overlay" {{action "close"}}> 
    </div>
    <div class="modal">
      {{yield}}
    </div>
{% endhandlebars %}

<script src="{% static 'libs/jquery/dist/jquery.min.js'%}"></script>
<script src="{% static 'libs/lodash/dist/lodash.js'%}"></script>
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js'%}"></script>
<script src="{% static 'libs/handlebars/handlebars.min.js'%}"></script>
<script src="{% static 'libs/ember/ember.min.js'%}"></script>
<script src="{% static 'libs/showdown/compressed/showdown.js'%}"></script>
<script src="{% static 'libs/moment/min/moment.min.js'%}"></script>
<script src="{% static 'libs/d3/d3.js'%}"></script>
<script src="{% static 'js/charts/AreaChart.js'%}"></script>
<script src="{% static 'js/charts/ChartData.js'%}"></script>
<script src="{% static 'js/charts/ProgressChartData.js'%}"></script>
<script src="{% static 'js/charts/SummaryChartData.js'%}"></script>
<script src="{% static 'js/charts/ChartLegend.js'%}"></script>
<script src="{% static 'js/app.js'%}"></script>
<script src="{% static 'js/modal.js'%}"></script>
<script src="{% static 'js/rest.js'%}"></script>
<script src="{% static 'js/projects.js'%}"></script>
<script src="{% static 'js/helpers.js'%}"></script>
</body>
</html>