<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Probable Backlog</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}"/>
</head>
<body>

{% handlebars %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            {{#link-to 'index' class='navbar-brand'}}Probable Backlog{{/link-to}}
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>{{#link-to 'projects' class='active'}}Roadmap{{/link-to}}</li>
                <li>{{#link-to 'about'}}Statistics{{/link-to}}</li>
            </ul>
        </div>
    </div>
</nav>
{{outlet}}
{% endhandlebars %}

{% handlebars "projects" %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-2">
            <table class='table'>
                <tbody>
                {{#each model}}
                <tr>
                    <td>
                        {{#link-to 'project' id}}{{name}}{{/link-to}}
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-md-10">
            {{outlet}}
        </div>
    </div>
</div>
{% endhandlebars %}

{% handlebars "projects/index" %}
<p class="text-warning">Please select a project</p>
{% endhandlebars %}

{% handlebars "project" %}
<div>
    <h1>{{project.name}} ({{project.id}})</h1>
    <hr>
    <div class='intro'>
        {{project.url}}
    </div>
    <div class='below-the-fold'>
        {{project.application}}
    </div>
    <hr>
    <table class='epics'>
        <tbody>
        {{#each model.epics}}
        <tr>
            <td>
                {{format-markdown summary}}
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
{% endhandlebars %}

{% handlebars "about" %}
<div class='about'>
    <p>
        Here will be project statistics
    </p>
</div>
{% endhandlebars %}

<script src="{% static 'libs/jquery/dist/jquery.min.js'%}"></script>
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js'%}"></script>
<script src="{% static 'libs/handlebars/handlebars.min.js'%}"></script>
<script src="{% static 'libs/ember/ember.min.js'%}"></script>
<script src="{% static 'libs/showdown/compressed/showdown.js'%}"></script>
<script src="{% static 'libs/moment/min/moment.min.js'%}"></script>
<script src="{% static 'js/app.js'%}"></script>
</body>
</html>