<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Probable Backlog</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>

{% handlebars %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            {{#link-to 'index' class='navbar-brand'}}Probable Backlog{{/link-to}}
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>{{#link-to 'projects' class='active'}}Roadmap{{/link-to}}</li>
                <li>{{#link-to 'about'}}Statistics{{/link-to}}</li>
            </ul>
        </div>
    </div>
</nav>
{{outlet}}
{% endhandlebars %}

{% handlebars "projects" %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-2">
            <table class='table'>
                <tbody>
                {{#each model}}
                <tr>
                    <td>
                        {{#link-to 'project' id}}{{name}}{{/link-to}}
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-md-10">
            {{outlet}}
        </div>
    </div>
</div>
{% endhandlebars %}

{% handlebars "projects/index" %}
<p class="text-warning">Please select a project</p>
{% endhandlebars %}

{% handlebars "project" %}
<div>
    <div class="row">
        <div class="col-md-6">
            <h1>{{project.name}}
                <small>({{project.id}})</small>
            </h1>
        </div>
        <div class="col-md-6 right">
            <div>
                <a {{bind-attr href="view.url"}}>https://jira3.inside.nsn.com/browse/{{project.key}}</a>
            </div>
            <div>
                <a {{bind-attr href=project.application}}>{{project.application}}</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
    <table class='epics table table-striped'>
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
            <th>Probable delivery</th>
            <th>Description</th>
            <th>Progress</th>
            <th>Requestor</th>
            <th>Link</th>
            <!-- <th>REST</th> -->
        </tr>
        </thead>
        <tbody>
        {{#each model.epics}}
        <tr>
            <td>{{order}}</td>
            <td>{{summary}}</td>
            <td>{{status}}</td>
            <td>{{format-date dueDate}}</td>
            <td>{{format-markdown description}}</td>
            <td>{{progress.current}}/{{progress.total}}</td>
            <td>{{format-displayname reporter.displayName}}</td>
            <td><a href="https://jira3.inside.nsn.com/browse/{{unbound key}}"><span class="glyphicon glyphicon-share-alt"></span></a>
             <!--     <button {{action 'openModal' 'modal' summary}}>Open modal</button>-->
            </td>
            <!-- <td><a {{bind-attr href=url}}><span class="glyphicon glyphicon-share"></span></a></td>-->

        </tr>
        {{/each}}
        </tbody>
    </table>
    </div>
    {{outlet modal}}
    {% endhandlebars %}

{% verbatim %}

  <script type="text/x-handlebars" data-template-name="modal">
    {{#modal-dialog action="close"}}
      <h3 class="flush--top">Name Change Modal</h5>
      <p>Enter a new name for {{model}}</p>
      <p>{{input value=summary}}</p>
      <button {{action "close"}}>Done</button>
    {{/modal-dialog}}
  </script>

{% endverbatim %}

  
{% handlebars "components/modal-dialog" %}
    <div class="overlay" {{action "close"}}> 
    </div>
    <div class="modal">
      {{yield}}
    </div>
{% endhandlebars %}

{% handlebars "about" %}
<div class='about'>
    <p>
        Here will be project statistics
    </p>
</div>
{% endhandlebars %}

<script src="{% static 'libs/jquery/dist/jquery.min.js'%}"></script>
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js'%}"></script>
<script src="{% static 'libs/handlebars/handlebars.min.js'%}"></script>
<script src="{% static 'libs/ember/ember.min.js'%}"></script>
<script src="{% static 'libs/showdown/compressed/showdown.js'%}"></script>
<script src="{% static 'libs/moment/min/moment.min.js'%}"></script>
<script src="{% static 'js/app.js'%}"></script>
</body>
</html>